.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.375rem;
}

.carousel {
  width: 100%;
  max-width: 75rem;
  position: fixed;
}

.carousel .carousel-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.carousel .control-arrow {
  width: 2.5rem;
  height: 3.125rem;
  border-radius: 50%;
  background-color: rgba(55, 88, 83, 0.697);
  color: white;
  font-size: 1.5rem;
  line-height: 3.125rem;
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .control-prev {
  left: 0.625rem;
}

.carousel .control-next {
  right: 0.625rem;
}

.fondo {
  background-image: url('./img/fondito1.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 1;
}

.menu {
  display: flex;
  background-color: rgba(55, 88, 83, 0.697);
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.menu button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #18b49a;
  padding: 1rem 1.5rem;
  font: inherit;
  outline: none;
  font-size: 1.5rem;
}

.banner {
  width: 75%;
}

h2 {
  font-size: 6.25rem;
  margin-bottom: 1.25rem;
  text-align: center;
  color: #18b49a;
}

.noticia {
  background-color: #fff;
  border: 0.0625em solid #ddd;
  border-radius: 0.25em;
  padding: 1.25rem;
  margin-bottom: 1.25rem;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

.noticia:hover {
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
}

.noticia h3 {
  font-size: 2rem;
  margin-bottom: 0.625rem;
  color: #333;
  transition: color 0.3s ease;
}

.noticia:hover h3 {
  color: #18b49a;
}

.noticia p {
  font-size: 1rem;
  color: #666;
}

.noticia img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1rem;
}

footer {
  background-color: #18b49a;
  color: white;
  text-align: center;
  padding: 0.625rem 0;
  font-weight: bold;
}

.grande-verde {
  font-size: 7rem;
  color: #29a985;
}
